.about {
    &__breadcrumbs {
        padding-top: 65px;
    }
    &__h1 {
        padding-bottom: 70px;
    }
    &__img {
        padding-right: 30px;
        height: 100%;
        max-width: 550px;
        width: 50%;
    }
    &__team {
        margin-top: 100px;
    }
    &__team-name {
        font-size: 20px;
        font-weight: bold;
    }
    &__team-position {
        font-size: 14px;
        color: #797979;
    }
    &__text {
        font-size: 16px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__h2 {
        font-size: 37px;
    }
    &__link {
        font-size: 17px;
        color: $red;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__team-inner {
        display: flex;
        justify-content: space-between; 
        margin: 50px 0 100px 0;
    }
    &__team-item {
        border: 1px solid $gray;
        width: calc(25% - 30px);
    }
    &__team-img {
        width: 100%;
    }
    &__team-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }


    &__subdcribe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 180px;
        background-color: $gray;
    }
    &__subdcribe-inner {
        display: flex;
        justify-content: space-between;
    }
    &__subdcribe-input {
        border: 1px solid #e6e6e6;
        margin-right: 20px;
        width: 385px;
        height: 57px;
        &::placeholder {
            padding-left: 10px;
            color: #A1A1A1;
            font-size: 16px;
            line-height: 27px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    &__subdcribe-h1 {
        font-size: 37px;
    }
    &__subdcribe-button {
        height: 57px;
        width: 153px;
        background: $red;
        color: #fff;
        text-transform: uppercase;
    }
}


@media (max-width: 1230px) {
    .about {
        &__h1 {
            padding-bottom: 50px;
        }
        &__team {
            margin-top: 55px;
        }
    
        &__team-item {
            width: calc(25% - 15px);
        }
    }
}

@media (max-width: 990px) {
    .about__h1 {
        font-size: 30px;
        padding-bottom: 35px;
    }
}

@media (max-width: 830px) {

.about {
    &__inner {
        flex-direction: column;
    }
    &__team-inner {
        flex-wrap: wrap;
     }
    &__img {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
     }
    &__team-item {
         min-width: calc(50% - 15px);
         margin-bottom: 20px;
        }
    }
}
